# ---> Go
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins


.idea
.DS_Store

# Monitoring data directories
data/prometheus/data/
data/grafana/data/
data/alertmanager/data/

# Log files
*.log
logs/